
<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

    <br>

    <!--Boton para dirigirnos a la funcion para dar de alta al personal-->
    <center> <ul class="dropdown-menu">
    <li><a class="rounded-md bg-blue-500 w-full text-lg text-white 
    font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700" href="/create">Alta de Personal</ul></li></a></center>

    <br>
    
    <!--Boton para dirigirnos a la pagina anterior-->
    <center> <ul class="dropdown-menu">
    <li><a class="rounded-md bg-blue-500 w-full text-lg text-white 
    font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700" href="/">Regresar</ul></li></a></center>

    

  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12">

    
    <!--Creacion de la tabla que nos mostrara los datos-->
    <table class="table-fixed w-full">
      <!--Cabezera de la tabla-->
      <thead>
        <tr class="bg-blue-500 text-white">
          <th class="w-20 py-4 ...">Id_Usuario</th>
          <th class="w-1/4 py-4 ...">Nombre</th>
          <th class="w-1/4 py-4 ...">Aprllido Paterno</th>
          <th class="w-1/4 py-4 ...">Aprllido Materno</th>
          <th class="w-1/2 py-4 ...">Correo Electronico</th>
          <th class="w-1/2 py-4 ...">Contraseña</th>
          <th class="w-1/4 py-4 ...">Telefono</th>
          <th class="w-1/4 py-4 ...">Rol</th>
          <th class="w-28 py-4 ...">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!--Hace mension a la tabla de nuestra base de datos que tiene los datos-->
        {{#each users}}
        <tr>
          <!--Inserta los datos de la tabla a la cual llamamos en la funcion anterior-->
          <td class="py-3 px-6">{{id}}</td>
          <td class="p-3 text-center">{{nombre}}</td>
          <td class="p-3 text-center">{{a_paterno}}</td>
          <td class="p-3 text-center">{{a_materno}}</td>
          <td class="p-3 text-center">{{email}}</td>
          <td class="p-3 text-center">{{password}}</td>
          <td class="p-3 text-center">{{telefono}}</td>
          <td class="p-3 text-center">{{rol}}</td>

          <td class="p-3 flex">
            <!--Creacion de los botones de opciones-->
            <!--Boton para eliminar productos este funciona con la funcion que definimos en personalcontrollers-->
            <form action="/pers/delete" method="POST" class="mx-2">
            <!--Funcion que nos da el id de el producto que seleccionamos con el boton-->
              <input type="hidden" value="{{id}}" name="id">
               <!--Boton para editar productos este funciona con la funcion que definimos en menucontrollers-->
              <button class="bg-red-500 text-white px-3 py-1 rounded-sm" type="submit">
                <i class="fas fa-trash"></i></button>
            </form>
             <!--Funcion que nos da el id de el producto que seleccionamos con el boton y nos dirige a la pagina para editar-->
            <a href="/pers/edita/{{id}}" class="bg-green-500 text-white px-3 py-1 rounded-sm">
              <i class="fas fa-pen"></i></a>
          </td>
        </tr>
         <!--Se cierra la coneccion con la base de datos-->
        {{/each}}
      </tbody>
    </table>
  </div>
</div>